<div class="card" style="height: 100%; overflow-y: scroll; overflow-x: hidden;">
    <table class="table" >
            <thead>
                <tr class="thead-dark">
                    <th  scope="col">学号</th>
                    <th  scope="col">姓名</th>
                    <th  scope="col">身份</th>
                    <th  scope="col">联系方式</th>
                    <th  scope="col">查看详情</th>
                </tr>
            </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{render_type(user.identity)}}</td>
                    <td>{{user.phone}}</td>
                    <td>
                        <div class="row">
                            <div class="btn-group mr-1">
                                <a class="btn btn-secondary"
                                    href={{ url_for('manager.show_borrow', id=user.id) }}
                                >借阅情况</a>
                            </div>
                            <div class="btn-group">
                                <form action={{ url_for('manager.delete_user', id=user.id) }} method="POST"
                                onsubmit="return confirm('您确定要注销吗？');" class="col p-0">
                                    <button type="sumbit" class="btn btn-secondary">注销证件</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>     
            {% endfor %}
        </tbody>
    </table>
</div>


  