<div class="text-white px-5 pt-3 border-top">
  <div class="row mt-3 align-items-center">
    <div class="col-sm-3">
      <h1 class="text-center">Supported By</h1>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm border-right">
          <h5 class="mt-0">Flask</h5>
          <p>Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy, with the ability to scale up to complex applications.</p>
        </div>
        <div class="col-sm">
          <h5 class="mt-0">Bootstrap</h5>
          <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development.</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3 bg-white">
  <div class="text-center pb-2">
    &copy; Designed by Frank.
  </div>
</div>